.card__tag--title{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  
}
.ribbon{
position:relative;
  background-color:#ffc100;
  border:1px solid #ffc100;
  border-radious:60%;
  top:-280px;
  padding:0 30px;
}
